{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md10-auto p-4">
            <div class="col-sm-4 m-auto">
                <h1>Login page</h1>
                <div class="col">
                </div>
                <form action=""method="post">
                    {% csrf_token %}
                    {{ form }}
                    <div class="col p-4 text-center">
                        <button type="submit"class="btn btn-primary text-center">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>e
</div>
{% endblock %}